*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container{
    background-color: #fde59d;
}
.itens{
    display: grid;
    grid-template-columns: 80px 80px 100px 80px 180px;
    gap: 180px;
    margin-left: 150px;
    grid-template-rows: 120px;
}
.logo{
    width: 300px;
}